@model XMLEdition.Models.CreateLessonModel;
@{
    ViewData["Title"] = "Create lesson Page";
}
<style>
    .body {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

<partial name="/Views/Partial/Header.cshtml" />
<div class="body">
    <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Home">
        <label asp-for="Theme">Theme</label>
        <input asp-for="Theme" />
        <br />
        <label asp-for="Description">Description</label>
        <input asp-for="Description" />
        <br />
        <label asp-for="VideoPath">Video</label>
        <input asp-for="VideoPath" type="file" />
        <br />
        <label asp-for="Body">Body</label>
        <textarea asp-for="Body" style="height: 250px" id="textarea">Hi</textarea>
        <br />
        <input asp-for="CourseId" type="hidden" value="@ViewBag.CourseId"/>
        <input type="submit" value="Submit" />
        <br />
    </form>
</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea' });
</script>
