@{
    ViewData["Title"] = "Video Page";
}

<div>
    <h2 style="font: small-caps bold sans-serif;">Theme: OOP C++</h2>
    <h4 style="font: small-caps bold sans-serif;">Discription: Вивчення ООП в С++, рівні доступу, конструктори та деструктори </h4>
</div>

<div id="video">
    <video id="videoplayer" src="@Url.Content("~/Videos/125.mp4")" controls width="1080" height="480" loop></video>
</div>

<div>
    Text
</div>